header.header
    .header__picture
        .container 
            .header__content 
                h1.header__content-title Создаем мужские праздники
                p.header__content-text Раки, пенное, бургеры на ваше мероприятие
                a(href="" ).header__content-btn Заказать


