main.main 
    .wrapper 
        .container 
            .main__content
                .main__content-info 
                    img(src="./images/pivo-first.webp", alt="")
                    h3.main__content-title Кейтеринг
                .main__content-about 
                    .main__content-item 
                        img(src="./images/Party Boy.svg", alt="")
                        h5.main__content-captions Мальчишники
                        p.main__content-text Ipsum commodo condimentum viverra diam pellentesque. 
                    .main__content-item 
                        img(src="./images/enjoy.svg", alt="")
                        h5.main__content-captions Дни рождения
                        p.main__content-text Ipsum commodo condimentum viverra diam pellentesque. 
                    .main__content-item 
                        img(src="./images/pivo-second.svg", alt="")
                        h5.main__content-captions Корпоративы
                        p.main__content-text Ipsum commodo condimentum viverra diam pellentesque. 
                    .main__content-item 
                        img(src="./images/enjoy-2.svg", alt="")
                        h5.main__content-captions Загородные вечеринки
                        p.main__content-text Ipsum commodo condimentum viverra diam pellentesque.
            .main__info 
                .main__info-left 
                    h3.main__info-title Собственный крафт
                    p.main__info-text Сами производим пенные напитки. У нас огромный выбор сортов, а также парк охлаждающего оборудования.Если Вы не нашли сорта пива, которые хотите - позвоните нам. Мы всё найдем.
                    a.main__info-btn(href="") Открыть барную карту
                .main__info-right 
                        img(src="./images/first-img.webp", alt="").main__info-img
                        img(src="./images/second-img.webp", alt="").main__info-img
            .main__fish 
                .main__fish-info 
                    img(src="./images/crayfish.webp", alt="")
                    h3.main__fish-title Свежие раки круглый год
                .main__fish-content
                    .main__fish-item   
                        p.main__fish-size Раки S: 20-30 гр
                        img(src="./images/arrow.svg", alt="").main__fish-arrow
                        img(src="./images/rak.webp", alt="").main__fish-img
                        p.main__fish-text Размер: 5-7 см 30-40 шт в 1 кг
                    .main__fish-item   
                        p.main__fish-size Раки M: 30-50 гр
                        img(src="./images/arrow.svg", alt="").main__fish-arrow
                        img(src="./images/rak_2.webp", alt="").main__fish-img
                        p.main__fish-text Размер: 7-9 см 20-25 шт в 1 кг
                    .main__fish-item   
                        p.main__fish-size Раки L: 50-70 гр
                        img(src="./images/arrow.svg", alt="").main__fish-arrow
                        img(src="./images/rak_3.webp", alt="").main__fish-img
                        p.main__fish-text Размер: 9-11 см 13-16 шт в 1 кг
                    .main__fish-item   
                        p.main__fish-size Раки XL: 70-90 гр
                        img(src="./images/arrow.svg", alt="").main__fish-arrow
                        img(src="./images/rak_4.webp", alt="").main__fish-img
                        p.main__fish-text Размер: 11-13 см 9-12 шт в 1 кг

                    .main__fish-item   
                        p.main__fish-size Раки XXL: 90+ гр
                        img(src="./images/arrow.svg", alt="").main__fish-arrow
                        img(src="./images/rak_5.webp", alt="").main__fish-img
                        p.main__fish-text Размер: 13-16 см 7-9 шт в 1 кг
            .main__caption 
                h2.main__caption-title Готовим при вас
                p.main__caption-text Пока мясо шкворчит на гриле и в кипящей воде краснеют раки, вы наслаждаетесь легким вкусом прохладного пенного.
            .main__about 
                .main__about-left 
                    img(src="./images/picture-1.webp", alt="")
                .main__about-right 
                    h2.main__about-title Фирменные рецепты
                    p.main__about-describe Molestie consectetur lacus phasellus sed phasellus. Elit sit egestas netus cras lectus volutpat, faucibus. Tincidunt mattis in enim aliquam. Ac enim ac quis mollis viverra suscipit morbi ultrices diam. Senectus viverra id mi blandit sit adipiscing dui urna. Leo pellentesque ac ultrices porttitor a. Egestas fermentum, egestas semper et aliquam cursus consectetur. Sem porttitor quam erat dui nisl elementum odio. Tempus ut facilisi tincidunt ornare ut dignissim vitae blandit dictum. 
                    a.main__about-btn(href="") Заказать
                    .main__about-picture
                        .main__about-img 
                            p.main__about-text Всегда холодные напитки
                        .main__about-img 
                            p.main__about-text Предоставим посуду
                        .main__about-img 
                            p.main__about-text Научим правильно есть и готовить раков
                        .main__about-img 
                            p.main__about-text Уберемся после мероприятия
            .main__payment 
                .main__payment-info 
                    h3.main__payment-title Бургеры
                    p.main__payment-describe Очень вкусные и сочные бургеры только у нас!
                .main__payment-content
                    img(src="./images/arrow-right.webp", alt="" id="arrow-left").main__payment-arrowImg
                    .main__payment-menu
                        img.main__payment-burgers(src="./images/product1.webp", alt="")
                        img.main__payment-burgers(src="./images/product2.webp", alt="")
                        img.main__payment-burgers(src="./images/product3.webp", alt="")
                        img.main__payment-burgers(src="./images/burger-1.webp", alt="")
                        img.main__payment-burgers(src="./images/burger-2.webp", alt="")
                    img(src="./images/arrow-left.webp", alt="" id="arrow-right").main__payment-arrowImg
                       
                    
            .main__last
                .main__last-content 
                    h3.main__last-title Акции и скидки
                    p.main__last-price Скидка 10% при обращении к нам более чем за 30 дней до мероприятия
                    p.main__last-price Держателем карт BeerShop скидка 15%
                    p.main__last-price При заказе организации выездного мероприятия вы получаете скидку 20% на пиротехнику
                .main__last-about 
                    h4.main__last-text Сеть пивных магазинов Beer Shop
                    .main__last-info
                        a(href="tell:+7 999 999 99 99").main__last-phone +7 999 999 99 99
                        a(href="").main__last-email email@email.com
